:root {
  --color-Primary: #8500e6;
  --color-Secondary: #f5560c;
  --color-Tertiary: #fc0d5d;
  --color-Quaternary: #0d3afc;
  --color-Quinary: #0ce7f5;
  --color-texto-padrao: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


