/* Card.css */

.card {
  width: 35vw;
  background-color: var(--color-Secondary);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 5px;
}

.company-info p {
  font-size: 14px;
  margin-bottom: 5px;
}

.status {
  font-weight: bold;
}

/* Optional: Add styles for different status values */
.status.completed {
  color: green;
}

.status.pending {
  color: orange;
}

.status.failed {
  color: red;
}
