.toggle-button-button {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: tan;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;

  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.toggle-button-button p {
  width: 100px;
 
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
}

.toggle-button {
  width: 3rem;
  height: 2rem;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.toggle-button:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -4px;
  width: 55%;
  height: calc(100% - 4px);
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle-button.on:before {
  transform: translateX(100%);
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  justify-content: center;
  justify-content: space-evenly;
}

.row div{
  display: flex;
}

.row div p{
  font-weight: bold;
  color: white;
}


